body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
  background-size: 1372px auto;
  background-repeat: no-repeat;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  background-color: #849d8f;
}

.main-header {
  display: flex;
  margin-bottom: 10px;
}

.main-navigation {
  display: flex;
  flex-direction: wrap;
}

.main-navigation a {
  display: block;
  background-color: transparent;
  font-size: 16px;
  line-height: 18px;
}

.sub-navigation a {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.work-time {
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.work-time a {
  font-size: 22px;
  line-height: 24px;
}

.user-navigation input[type="search"],
.login-link input[type="email"],
.login-link input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.search input:focus,
.user input:focus {
  border: 1px solid #8fbdec;
  border-radius: 10px;
}

.search input:hover,
.user input:hover {
  border: 1px solid #c7c6c5;
  border-radius: 10px;
}

.site-navigation,
.user-navigation,
.sub-navigation,
.login-link {
  list-style: none;
}

.gift {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  text-align: left;
}

.gift h3 {
  font-size: 35px;
  line-height: 41px;
}

.gift-jam p,
.gift-choco p {
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
}

.gift-jam,
.gift-choco {
  width: 560px;
  min-height: 233px;
}

.gift-jam {
  background-color: #1c050c;
  background-image: url("../img/crimson-back.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gift-choco {
  background: #503322;
  background-image: url("../img/choco-back.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog {
  display: flex;
}

.catalog-hit {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.catalog-ice h3 {
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-ice p {
  font-size: 40px;
  line-height: 45px;
}

.catalog-hit .catalog-ice {
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.catalog-ice {
  display: flex;
  flex-wrap: wrap;
}

.catalog-ice::before {
  content: "";
}

.catalog-ice img {
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: center;
}

.features {
  padding: 10px 10px;
  margin-right: 30px;
  margin-left: 30px;
  color: #323232;
  background: #f8f7f4;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features,
.feature-item {
  list-style: none;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
}

.feature-list {
  display: flex;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-item p {
  margin: 0;
  padding: 32px;
  text-align: justify;
}

.news {
  padding: 20px 20px;
  margin: 40px 30px;
  min-height: 223px;
  width: 573px;
  background: #ffffff;
  background-image: url("../img/strawberry-back.jpg");
  background-position: 0 38%;
  background-repeat: no-repeat;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  text-align: left;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.distribution input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.distribution input:focus {
  border: 1px solid #8fbdec;
  border-radius: 10px;
}

.distribution input:hover {
  border: 1px solid #c7c6c5;
  border-radius: 10px;
}

.distribution {
  padding: 20px 20px;
  margin: 40px 30px;
  min-height: 223px;
  width: 573px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
  background: #f8f7f4;
}

.map p {
  background: #f6f3e7;
  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: normal;
  color: #323232;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket .grey {
  color: #9f9f9f;
}

.basket p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter input[type="range"],
.filter input[type="radio"],
.filter input[type="checkbox"] {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #d3d3d2;
}

.filter button {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background-color: #a6b7ae;
  border-radius: 50px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter button:active {
  background-color: #eaeaea;
  color: #323232;
}

.pagination-list {
  list-style: none;
}

.pagination .current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-prev:disabled {
  color: #f8f9f8;
  opacity: 0.5;
}

.pagination .pagination-current:hover,
.pagination .pagination-current:focus,
.pagination .pagination-current:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}

.main-footer {
  text-transform: none;
  display: flex;
}


.information-footer a{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}


.footer-social ul,
.information-footer ul {
  list-style: none;
}

.footer-social {
  text-align: left;
}

.information-footer,
.footer-copyright {
  text-align: center;
}

.fotter-copyright p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.fotter-copyright a {
  text-decoration: underline;
}

.modal {
  width: 480px;
  background-color: #f8f7f4;
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
}

.communication input[type="text"],
.communication input[type="email"],
.communication-question textarea{
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.communication input:focus,
.communication-question textarea:focus {
  border: 1px solid #8fbdec;
  border-radius: 10px;
}

.communication input:hover,
.communication-question textarea:hover {
  border: 1px solid #c7c6c5;
  border-radius: 10px;
}
