body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #ffffff;
  background-color: #849d8f;
}

a {
  text-decoration: none;
  color: #ffffff;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.inner-page {
  background-color: #849d8f;
}

.main-header {
  display: flex;
  margin-bottom: 10px;
  height: 83px;
}

.main-header-logo {
  margin-left: 30px;
  margin-top: 10px;
}

.main-navigation {
  position: relative;
  display: flex;
  margin-left: -20px;
}

.site-navigation {
  width: 580px;
}

.site-navigation > li {
  display: inline-block;
  vertical-align: top;
  position: relative;
}

.site-navigation a {
  left: 5px;
  display: block;
  background-color: transparent;
  font-size: 16px;
  line-height: 18px;
  margin-left: -1px;
  padding: 15px 10px;
}

.site-navigation .sub-navigation {
  width: 150px;
  left: 1px;
  background-color: #ffffff;
  position: absolute;
  margin: 0;
  padding: 0;
  display: none;
}

.site-navigation > li:hover .sub-navigation {
  display: block;
}

.sub-navigation a {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #323232;
}

.user-navigation {
  display: flex;
  margin-left: auto;
  justify-content: center;
  height: 34px;
  width: 34px;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-color: #a1b6aa;

}

.modal-login a {
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  text-decoration: underline;
  color: #323232;
}

.modal-login a:hover,
.modal-login a:focus {
  color: #ffbc9e;
}

.login-link > .modal-login:hover {
  display: block;
}

.modal-login {
  position: absolute;
  z-index: 2;
  width: 280px;
  height: 215px;
  border-radius: 10px;
  border: none;
}

.modal-login input {
  height: 44px;
  width: 241px;
  margin: 20px;
  font-size: 14px;
  line-height: 24px;
  color: #999999;
}

.modal-login .btn {
  width: 100px;
  height: 44px;
  font-size: 18px;
  line-height: 24px;
  padding: 10px;
}

.modal-search {
  position: absolute;
  z-index: 2;
  width: 342px;
  height: 85px;
  border-radius: 10px;
  border: none;
}

.search input {
  width: 310px;
  height: 44px;
  margin: 21px 18px;
}

.work-time {
  margin-left: auto;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.work-time a {
  font-size: 22px;
  line-height: 24px;
}

.user-navigation input[type="search"],
.login-link input[type="email"],
.login-link input[type="password"] {
  font-size: 14px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.search input:focus,
.user input:focus {
  border: 1px solid #8fbdec;
  border-radius: 10px;
}

.search input:hover,
.user input:hover {
  border: 1px solid #c7c6c5;
  border-radius: 10px;
}

.site-navigation,
.user-navigation,
.sub-navigation,
.login-link {
  list-style: none;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slide-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slide-3.png");
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
}

.slide {
  display: none;
}

.slide h2 {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.slider-controls label {
  display: inline-block;
  width: 21px;
  height: 21px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  font-size: 0;
}

#slide-first:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slide-1.png");
}

#slide-second:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slide-2.png");
}

#slide-third:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slide-3.png");
}

#slide-first:checked ~ .site-wrapper .slide-1,
#slide-second:checked ~ .site-wrapper .slide-2,
#slide-third:checked ~ .site-wrapper .slide-3 {
  display: block;
}

#slide-first:checked ~ .site-wrapper label[for="slide-first"],
#slide-second:checked ~ .site-wrapper label[for="slide-second"],
#slide-third:checked ~ .site-wrapper label[for="slide-third"] {
  background-color: #ffffff;
}

.gift {
  display: flex;
  justify-content: space-between;
  line-height: 20px;
  text-align: left;
}

.gift h3 {
  font-size: 35px;
  line-height: 41px;
}

.gift-jam p,
.gift-choco p {
  font-size: 18px;
  line-height: 22px;
  text-transform: none;
}

.gift-jam,
.gift-choco {
  width: 560px;
  min-height: 233px;
}

.gift-jam {
  background-color: #1c050c;
  background-image: url("../img/crimson-back.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.gift-choco {
  background: #503322;
  background-image: url("../img/choco-back.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.btn {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background-color: #f26843;
  background-image: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  background-image: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.btn:active {
  background-image: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.catalog {
  display: flex;
  flex-wrap: wrap;
}

.catalog-hit {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

.catalog-ice h3 {
  color: #ffffff;
  text-decoration: underline;
  font-size: 16px;
  line-height: 22px;
  font-weight: 500;
}

.catalog-ice h3:hover,
.catalog-ice h3:focus {
  color: #ffbc9e;
}

.catalog-ice p {
  font-size: 40px;
  line-height: 45px;
}

.catalog-hit .catalog-ice::before {
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  content: "";
  position: absolute;
  left: 10px;
  top: 5px;
  width: 61px;
  height: 61px;
}

.catalog-ice {
  position: relative;
}

.catalog-ice img {
  border-radius: 50%;
  margin-left: 20px;
  margin-bottom: 20px;
  line-height: 22px;
  text-align: center;
}

.catalog-ice .view {
    display: none;
}

.catalog-ice:hover .view {
    display: block;
}

.features {
  padding: 10px 10px;
  margin-right: 30px;
  margin-left: 30px;
  color: #323232;
  background: #f8f7f4;
  background-image: url("../img/waffle.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.features,
.feature-item {
  list-style: none;
}

.features h2 {
  font-size: 24px;
  line-height: 30px;
}

.feature-list {
  display: flex;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
}

.feature-item p {
  margin: 0;
  padding: 32px;
  text-align: justify;
}

.news {
  padding: 20px 20px;
  margin: 40px 30px;
  min-height: 223px;
  width: 573px;
  background: #ffffff;
  background-image: url("../img/strawberry-back.jpg");
  background-position: 0 38%;
  background-repeat: no-repeat;
}

.news h2 {
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #323232;
  text-align: left;
}

.news a {
  font-size: 24px;
  line-height: 30px;
  color: #323232;
  text-decoration: underline;
}

.distribution input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.distribution input:focus {
  border: 1px solid #8fbdec;
  border-radius: 10px;
}

.distribution input:hover {
  border: 1px solid #c7c6c5;
  border-radius: 10px;
}

.distribution {
  padding: 20px 20px;
  margin: 40px 30px;
  min-height: 223px;
  width: 573px;
  font-size: 16px;
  line-height: 22px;
  font-weight: normal;
  color: #5a5a5a;
  background: #f8f7f4;
}

.map p {
  background: #f6f3e7;
  text-transform: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #323232;
}

.map a,
.map b {
  font-size: 18px;
  line-height: 24px;
  color: #323232;
  font-weight: 700;
}

.map .btn {
  font-size: 24px;
  line-height: 18px;
  width: 252px;
  height: 44px;
  color: #ffffff;
}

.breadcrumbs a {
  font-size: 16px;
  line-height: 14px;
  font-weight: 400;
}

.breadcrumbs a:hover,
.breadcrumbs a:active {
  color: #ffbc9e;
}

.breadcrumbs-current {
  color: #aba9a7;
}

.basket {
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: #323232;
}

.basket .grey {
  color: #9f9f9f;
}

.basket p {
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
}

.container h1 {
  font-size: 35px;
  line-height: 41px;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 14px;
  line-height: 16px;
  font-weight: 500;
}

.filter input[type="range"],
.filter input[type="radio"],
.filter input[type="checkbox"] {
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: #ffffff;
  border: 1px solid #d3d3d2;
}

.filter button {
  display: inline-block;
  padding: 10px 30px;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  background-color: #a6b7ae;
  border-radius: 50px;
  border: 2px solid #ffffff;
  cursor: pointer;
}

.filter button:hover,
.filter button:focus {
  background-color: #ffffff;
  color: #323232;
}

.filter button:active {
  background-color: #eaeaea;
  color: #323232;
}

.pagination-list {
  list-style: none;
}

.pagination .current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-prev:disabled {
  color: #f8f9f8;
  opacity: 0.5;
}

.pagination .pagination-current:hover,
.pagination .pagination-current:focus,
.pagination .pagination-current:active {
  color: #323232;
  background-color: #ffffff;
  border-radius: 10px;
}

.main-footer {
  text-transform: none;
  display: flex;
  flex-wrap: wrap;
}

.information-footer a{
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

.information-footer a:hover,
.information-footer a:focus {
  color: #ffbc9e;
}

.footer-social ul,
.information-footer ul {
  list-style: none;
}

.footer-social {
  text-align: left;
}

.information-footer,
.footer-copyright {
  text-align: center;
}

.footer-copyright p {
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
}

.footer-copyright a {
  text-decoration: underline;
}

.footer-copyright a:hover,
.footer-copyright a:focus {
  color: #ffbc9e;
}

.modal {
  background-color: #f8f7f4;
  background-position: 0 0;
  background-repeat: repeat;
}

.modal h2 {
  color: #323232;
  font-size: 24px;
  line-height: 28px;
}

.communication input[type="text"],
.communication input[type="email"],
.communication-question textarea{
  font-size: 16px;
  line-height: 24px;
  color: #999999;
  background-color: #ffffff;
  border: 1px solid #d3d3d2;
  border-radius: 10px;
}

.communication input:focus,
.communication-question textarea:focus {
  border: 1px solid #8fbdec;
  border-radius: 10px;
}

.communication input:hover,
.communication-question textarea:hover {
  border: 1px solid #c7c6c5;
  border-radius: 10px;
}
